
@{
    ViewData["Title"] = "NFL Draft";
}

<div id="IndexBody">
    <img id="HelmetPhoto" src="~/images/Helmet.jpg" alt=" Sup" />
</div>
<div>
    <img id="NFLLogoPhoto" src="~/images/NFL.png" alt=" Sup" />
</div>